* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.velkomst_img {
  justify-self: center;
  max-width: 650px;
}
.menuoversigt_imgs {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  padding-top: 1rem;
}
.faellesspisning_img {
  max-width: 550px;
  justify-self: center;
  padding-top: 1rem;
}
.onsdagsgryde_img {
  max-width: 550px;
  justify-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.raavare_img {
  max-width: 550px;
  justify-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.drikkevare_imgs {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  padding-top: 1rem;
}
.vin_img {
  max-width: 550px;
  justify-self: center;
  padding-top: 1rem;
}
/*
Source - https://stackoverflow.com/a/14821134
Posted by moettinger, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-18, License - CC BY-SA 3.0
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3a302f;
  margin: 1em 0;
  padding: 0;
}
.footer-grid {
  display: grid;
}
body {
  background-color: rgba(125, 71, 68, 1);
}
footer {
  background-color: rgba(125, 71, 68, 1);
}

@font-face {
  font-family: "proto_grotesk";
  src: url("../assets/fonts/protogrotesk-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "proto_grotesk";
  src: url("../assets/fonts/protogrotesk-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proto_grotesk";
  src: url("../assets/fonts/protogrotesk-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
}
