---
import MainLayout from "../layouts/MainLayout.astro";
import TekstBoks from "../components/Tekst_boks.astro";
import Footer from "../components/Footer.astro"
---

<MainLayout>
  <TekstBoks title="overskrift">
    <p>test</p>
  </TekstBoks>
  <TekstBoks title="liste">
    <ul>
      <li>test</li>
    </ul>
  </TekstBoks>
  <Footer/>
</MainLayout>
