---
import MainLayout from "../layouts/MainLayout.astro";
import TekstBoks from "../components/Tekst_boks.astro";
import Header from "../components/Header.astro";
---

<MainLayout>
  <Header />
  <TekstBoks title="overskrift">
    <p>test</p>
  </TekstBoks>
  <TekstBoks title="liste">
    <ul>
      <li>test</li>
    </ul>
  </TekstBoks>
</MainLayout>
