---
import MainLayout from "../layouts/MainLayout.astro";
import TekstBoks from "../components/Tekst_boks.astro";
---

<MainLayout>
  <h1>Hej</h1>
  <TekstBoks title="Caféen" textAlign="center">
    <p>Vores cafe er hjertet i huset. Vi rummer alt fra børnefamilier, studerende, gamle aktivister til stamkunder og mange mange andre. Vi går meget op i fællesskab, hvilket du blandt andet kan tage del i ved vores fællesspisninger, som vi afholder hver torsdag aften.</p>
  </TekstBoks>
  <TekstBoks title="Caféens åbningstider:" textAlign="center">
    <ul>
      <li>Mandag - kl. 12-16</li>
      <li>Tirsdag - kl. 12-17</li>
      <li>Onsdag - kl. 12-20</li>
      <li>Torsdag - kl. 12-20</li>
      <li>Fredag - kl. 12-16</li>
      <li>Lørdag - lukket</li>
      <li>Søndag - lukket</li>
    </ul>
  </TekstBoks>
  <TekstBoks title="Menuoversigt:" textAlign="center">
    <ul>
      <li>Mandag (kl. 12-16) - Kun selvbetjening til kaffe og the til en 10'er</li>
      <li>Tirsdag (kl. 12-15) Åben ristet rugbrødssandwich med lækkert fyld - Friske hjemmebagte boller - diverse hjemmebagte kager, cookies og andre lækkerier</li>
      <li>Onsdag (kl. 12-15) Åben ristet rugbrødssandwich med lækkert fyld - Friske hjemmebagte boller - diverse hjemmebagte kager, cookies og andre lækkerier (kl. 17) - Dagens vegetariske gryderet</li>
      <li>Torsdag (kl. 12-15) Åben ristet rugbrødssandwich med lækkert fyld - Friske hjemmebagte boller - diverse hjemmebagte kager, cookies og andre lækkerier (kl. 18) - Fællesspisning</li>
      <li>Fredag (kl. 12-15) Åben ristet rugbrødssandwich med lækkert fyld - Friske hjemmebagte boller - diverse hjemmebagte kager, cookies og andre lækkerier</li>
      <li>Lørdag - lukket</li>
      <li>Søndag - lukket</li>
    </ul>
  </TekstBoks>
  <TekstBoks title="Fællesspisning" textAlign="center">
    <p>Hver torsdag spiser vi sammen i Café Karen. Maden bliver serveret kl. 18.00 og dagens menu bliver serveret af vores dejlige personale.</p>
    <br />
    <p>Der er altid vegetarisk alternativ, hvis du kontakter køkkenet på forhånd.</p>
    <ul>
      <li>Prisen for voksne er 105 kr., og prisen for børn (op til 12 år) er 50 kr.</li>
      <li>Billetter købes her: https://billetto.dk/users/karens-minde-kulturhus</li>
    </ul>
  </TekstBoks>
  <TekstBoks title="Café Karen" textAlign="center">
    <h3>Onsdags gryde:</h3>
    <p>SRI LANKA MED PEBERFRUGT, SPRINGLØG, TOFU OG SØDEKARTOFLER. SERVERES MED RIS OG ÆRTER. - 70 KR.</p>
  </TekstBoks>
  <TekstBoks title="Vores råvare" textAlign="center">
    <p>Vi har stor kærlighed til håndværket, og alt vores mad laves fra bunden. Alt vores mad laves med gode og friske råvare, hvilket sikre en høj kvalitet.</p>
    <br />
    <p>Vi tager inspiration fra både det globale køkken, samt gamle danske klassikere.</p>
  </TekstBoks>
  <TekstBoks title="Café Karen" textAlign="center">
    <h3>Drikke:</h3>
    <p>VARME DRIKKE</p>
    <ul>
      <li>KAFFE/THE - 10 KR.</li>
      <li>AMERICANO - 25 KR.</li>
      <li>LATTE (ALM/STOR) - 30/40 KR.</li>
      <li>ESPRESSO - 20 KR.</li>
      <li>CORTADO - 25 KR.</li>
      <li>FLAT WHITE - 25 KR.</li>
      <li>CAPPUCCINO - 30 KR.</li>
      <br />
      <li>ISKAFFE - 40 KR.</li>
      <li>AFFOGATO - 35 KR.</li>
      <br />
      <p>KOLDE DRIKKE</p>
      <ul>
        <li>FADØL, PILSNER ØKO - 35/55 KR.</li>
        <li>FADØL, SPECIALØL - 46/60 KR.</li>
        <li>FLASKE PILSNER MED ELLER UDEN ALKOHOL - 35 KR.</li>
        <li>SPECIALØL PÅ FLASKE MED ELLER UDEN ALKOHOL - 45 KR.</li>
        <br />
        <li>HUSETS VIN (GLAS/FLASKE) - 55/225 KR.</li>
        <li>KARENS LUKSUS VIN (GLAS/FLASKE) - 35 KR.</li>
        <br />
        <li>ØKO VAND - 30 KR.</li>
        <li>JUICE - 35 KR.</li>
        <li>MÆLK - 10 KR.</li>
      </ul>
    </ul>
  </TekstBoks>
  <TekstBoks title="Café Karen" textAlign="center">
    <h3>Vin:</h3>
    <p>RØD</p>
    <ul>
      <li>HUSETS VIN: LIEBVOLL CUVÈE ROUGE 2018, ØKO (GLAS/FLAKSE) - 55/225 KR. Det er en let og frisk rødvin med noter af modne, mørke bær og peber samt et strejf af eg, der minder om klassiske bordeaux-vine.</li>
      <li>KARENS LUKSUSVIN: DOMAINE BEGUDE PINOT NOIR "LE CERISIER" 2023 (GLAS/FLASKE) - 75/300 KR. Pinot noir, lyse kirsebær og vilde hinbær kappes med en flot mineralitet o mat komme til orde i glasset! Mmmm...</li>
      <br />
      <p>HVID</p>
      <li>HUSETS VIN: SEHNSUCHT, WHITE BLEND 2021, ØKO (GLAS/FLASKE) 55/225 KR. Det er en elegant og mineralrig tysk hvidvin med en let og frisk syre, der har et strejf af danske sommerfrugter; stikkelsbær, grønne, æbler og hyldebær.</li>
      <li>LUKSUS VIN DOMAINE BEGUDE CHARDONNAY "ETOILE" 2024 (GLAS/FLASKE) - 75/300 KR. Fed, rig frugt, intens citrusolie, melon, smør og popcorn, skulle nogen forledes til at tro, at vi var i Meursault, er det forståeligt. Bare til en tredjedel af prisen...</li>
      <br />
      <p>ROSÈ</p>
      <ul>
        <li>DAMERA ROSA, ØKO (GLAS/FLASKE) - 55/225 KR. Buttet, sødmefuld og uimodståelig.</li>
        <li>KARENS LUKSUS VIN: VORFREUDE, CUVÈE ROSÈ 2021, ØKO (GLAS/FLASKE) - 75/300 KR. Det er en frugtagtig, rund og mineralrig tysk rosévin, kendetegnet ved noter af modne røde frugter og jordbær.</li>
      </ul>
    </ul>
  </TekstBoks>
  <TekstBoks title="Gavekort" textAlign="center">
    <p>Giv en Sydhavns-oplevelse til en ven. Køb et gavekort i Café Karen. Gavekort kan købes ved personligt fremmøde i caféen.</p>
  </TekstBoks>
</MainLayout>
