<footer>
  <div class="footer-grid1">
    <div class="grid-social">
      <a href="https://www.instagram.com/karens_minde/?hl=da"><img src="/imgs/image 1.webp" alt="insta" /></a>
      <a href="https://www.facebook.com/KarensMindeKulturhus/?locale=da_DK"><img src="/imgs/image 2.webp" alt="facebook" /></a>
    </div>
    <div class="grid-ikoner">
      <img src="/imgs/fode.png" alt="" />
      <img src="/imgs/herslevIkon.png" alt="" />
      <img src="/imgs/hustedVin.png" alt="" />
    </div>
  </div>
  <div class="footer-grid">
    <div>
      <h3>Kontakt og adresse:</h3>
      <p>
        Karens Mindes Kulturhus <br />
        Wagnersvej 19 <br />
        2450 København SV <br />
      </p>
      <a href="https://findvej.dk/Wagnersvej19,2450"> → Find Vej</a>
      <br />
      <a href="https://kmkulturhus.dk/kontakt/"> → Find medarbejder</a>
      <br />
      <a href="https://kmkulturhus.dk/privatlivspolitik/"> → Privatpolitik</a>
      <br />
    </div>

    <div>
      <h3>Karens Minde er også:</h3>
      <a href="https://bibliotek.kk.dk/sydhavnens-bibliotek"> → Sydhavnens bibliotek</a>
      <br />
      <a href="https://bkultur.dk/"> → Børnekulturstedet</a>
      <br />
      <a href="https://sydhavnteater.dk/"> → Sydhavn Teater</a>
      <br />
      <a href="https://boernenesdyremark.dk/"> → Børnenes Dyremark</a>
      <br />
      <a href="https://www.sydhavnenshistorie.dk/"> → Kgs. Enghave Lokaludvalg</a>
      <br />
      <a href="https://kongensenghavelokaludvalg.kk.dk/"> → Kongens Enghave Lokaludvalg</a>
      <br />
    </div>

    <div>
      <h3>Nyhedsbrev:</h3>
      <a href="https://kmkulturhus.us12.list-manage.com/subscribe?u=2166e9af0f11a2e8ec20a0674&id=30333eb90e"> → Tilmeld dig her</a>
    </div>

    <div>
      <h3>Bliv frivillig</h3>
      <p>Helehusets eksistens hviler på frivilliges indsats.</p>
      <a href="https://kmkulturhus.dk/frivillig-paa-karens-minde/"> → Find ud af, hvordan du bliver en del af os</a>
    </div>
  </div>
</footer>

<style>
  .footer-grid1 {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
  .grid-ikoner {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px;
    margin-left: 40rem;
  }
  .grid-social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    gap: 20px;
    margin-left: 120px;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: center;
    border-top: solid;
    border-color: rgba(224, 209, 196, 1);
  }
  h3 {
    font-family: "proto_groteskbold";
    src: url("../assets/fonts/protogrotesk-bold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    color: rgba(224, 209, 196, 1);
  }
  p {
    font-family: "proto_groteskregular";
    src: url("../assets/fonts/protogrotesk-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    color: rgba(224, 209, 196, 1);
  }
  a {
    font-family: "proto_groteskregular";
    src: url("../assets/fonts/protogrotesk-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    color: rgba(224, 209, 196, 1);
    text-decoration: none;
  }
  a:hover {
    color: rgb(241, 239, 237);
  }
</style>
