<header id="Header">
  <div class="logo">
    <img src="/imgs/cafekaren_logo.png" alt="Café Karen logo" />
  </div>

  <ul class="menu">
    <li><a href="#">ARRENGEMENTER</a></li>
    <li><a href="#">CAFE KAREN</a></li>
    <li><a href="#">UDLEJNING</a></li>
    <li><a href="#">OM HUSET</a></li>
  </ul>
</header>

<style>
  @font-face {
    font-family: "proto_grotesklight";
    src: url("../assets/fonts/protogrotesk-light-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  #Header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 40px 0;
    background-color: transparent;
    margin-top: 50px;
  }

  .logo {
    position: absolute;
    left: 20px;
    top: 30px;
  }

  .logo img {
    height: 50px;
    width: auto;
  }

  .logo img:hover {
    opacity: 0.7;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;
    padding: 0;
  }

  .menu a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: "proto_grotesklight";
  }

  .menu a:hover {
    opacity: 0.7;
  }
</style>
