---
const { title } = Astro.props;
---

<div class="tekst_boks">
  <h2>{title}</h2>
  <slot />
</div>
<style>
  .tekst_boks {
    padding: 1rem;
    background-color: #e0d1c4;
    color: #3a302f;
    font-family: "proto_grotesklight";
  }
</style>
