---
const { title, textAlign } = Astro.props;
---

<div class="tekst_boks">
  <h2 class={textAlign}>{title}</h2>
  <slot />
</div>
<style>
  .tekst_boks {
    padding: 1.5rem;
    margin: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #e0d1c4;
    color: #3a302f;
    font-family: "proto_groteskregular";
  }

  h2.center {
    text-align: center;
  }
</style>
