---
const { title } = Astro.props;
---

<div class="tekst_boks">
  <h2>{title}</h2>
  <slot />
</div>
<style>
  .tekst_boks {
    padding: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 1rem;
    max-width: 650px;
    justify-self: center;
    background-color: #e0d1c4;
    color: #3a302f;
    font-weight: 300;
    font-family: "proto_grotesk";
  }

  h2 {
    font-weight: 700;
    text-align: center;
  }
</style>
